# fundaments of NLP
## text to vector
  * Bag of Words
  * Tfidf

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import sqlite3
import nltk
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from nltk.stem.porter import PorterStemmer
from sklearn.metrics import roc_curve,auc

##### Connecting Sqlite

In [23]:

con = sqlite3.connect(r'C:\Users\shale\Downloads\archive (5)\database.sqlite')

In [24]:
# filtering the data
filtered_data = pd.read_sql_query("""select * from Reviews where score !=3""",con)

In [25]:
filtered_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [26]:
# setting the postive and negative to the score
def partition(x):
   if x<3:
    return 'negative'
   return 'positive'

In [27]:
actual_score = filtered_data['Score']

In [28]:
postivenegative= actual_score.map(partition)

In [29]:
filtered_data['Score']=postivenegative

In [30]:

filtered_data.shape

(525814, 10)

In [31]:
filtered_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,positive,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,negative,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,positive,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,negative,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,positive,1350777600,Great taffy,Great taffy at a great price. There was a wid...

## coverting text to vector by using Bag of words

In [33]:
count_vec = CountVectorizer()

In [34]:
fina_count= count_vec.fit_transform(filtered_data['Text'].values)

In [35]:
type(fina_count)

scipy.sparse.csr.csr_matrix

In [36]:
fina_count.shape

(525814, 115282)

### coverting text to vector by using Tfidf

In [37]:
tfidf=TfidfVectorizer()

In [38]:
hh=tfidf.fit_transform(filtered_data['Text'].values)

In [39]:
type(tfidf)

sklearn.feature_extraction.text.TfidfVectorizer

In [40]:
filtered_data.shape

(525814, 10)